body {
  font-family: Arial, sans-serif;
  background: white;
  text-align: center;
}

h1 {
  color: #d65a9e;
}

#malla {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.semestre {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.semestre h2 {
  color: #d65a9e;
}

.materia {
  border: 2px solid #d65a9e;
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
}

.materia span {
  font-size: 12px;
  color: black;
}

.aprobada {
  text-decoration: line-through;
  background: #c94f88;
  color: white;
}

.bloqueada {
  background: #f3c6db;
  cursor: not-allowed;
}

#progreso-container {
  width: 60%;
  height: 20px;
  border: 1px solid #ccc;
  margin: 10px auto;
}

#barra-progreso {
  height: 100%;
  background: #d65a9e;
  width: 0%;
}